<!-- out of date -->
<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8" />
        <title>Audiowned - Home</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
       <script src="/static/js/bootstrap.min.js"></script>

       <script>
                function loadPage() {
                        $("#home-page").addClass('animated slideOutRight').delay(350).hide(1);
                        $("#loading-page").addClass('animated slideInLeft');

                        $("#loading-page").show();

                }
                setTimeout("location.href = '/matched';",5000);
       </script>

</head>

<body>

        <div id ="home-page">

                <header>
        		<h1>AUDIOWNED</h1>
                </header>

                <nav>
                        <div class="btn-group">
                          <button type="button" class="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            LEVEL <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a href="#">EASY</a></li>
                            <li><a href="#">MEDIUM</a></li>
                            <li><a href="#">HARD</a></li>
                          </ul>
                        </div>

                        <button id="start" onclick="loadPage()" >START</button>

                        <div class="btn-group">
                          <button type="button" class="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            GENRE <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a href="#">TOP HITS</a></li>
                            <li><a href="#">COUNTRY</a></li>
                            <li><a href="#">ROCK</a></li>
                          </ul>
                        </div>
                </nav>
        </div>

        <div id ="loading-page">

                <header>
        		<h1 class="animated slideInLeft" id="loadheader">SEARCHING FOR OPPONENT...</h1>
                </header>

                <div class="animated slideInLeft" id="pics">

                        <div id="userimage">

                                <img src="<%=Pic_URL%>" alt="l8k8" width=400px>
                        </div>
                        <div id="oppimage">

                                <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg" alt="placeholder" width=400px>
                        </div>
                </div>
        </div>
</body>
</html>
