<!-- out of date -->
<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8" />
        <title>Audiowned - Home</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css" type="text/css" />
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
       <script src="js/bootstrap.min.js"></script>
       <script>
               function redirect() {
                       var xml = new XMLHttpRequest();
                       var url = "/login";
                       xml.open("POST", url, true);
                       var id = $("button").text();
                       console.log(id);
                       xml.send(id);
                       console.log(xml.responseText);
               }

       </script>
</head>

<body>
        <header>
		<h1>AUDIOWNED</h1>
        </header>

        <nav>
                <button type="button" class="button" onclick="redirect();">LOG IN TO SPOTIFY</button>

        </nav>

</body>
</html>
