<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8" />
        <title>Audiowned</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/animations.css" type="text/css" />
        <link rel="stylesheet" href="css/style.css" type="text/css" />

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
       <script src="js/bootstrap.min.js"></script>
</head>

<body>
        <!-- <audio autoplay loop>
            <source src="bgmusic.mp3" type="audio/mpeg">
        </audio>
        <audio controls autoplay>
            <source src="bgmusic.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio> -->

        <header>
		<h1 id="loadheader">YOU'VE BEEN MATCHED!</h1>
        </header>

        <div id="pics">

                <div id="userimage">

                        <img src="https://scontent.fluk1-1.fna.fbcdn.net/v/t31.0-8/16707354_1270731589629046_5534878168568381697_o.jpg?oh=51f6c7e662abb9b9ad3e9d619ab21f88&oe=59556726" alt="l8k8" width=400px>
                </div>
                <div id="oppimage">

                        <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg" alt="placeholder" width=400px>
                </div>
        </div>

</body>
</html>
