@media only screen and (max-width: 600px) 
{
   .ralphy {
      width: 250px;
      height: 186px;
      background: url(ralphy.gif) -250px -373px;
   }
}

@media only screen and (min-width: 600px)
                   and (max-width: 800px)
{
   .ralphy {
      width: 250px;
      height: 186px;
      background: url(ralphy.gif) 0px -373px;
   }
}


@media only screen and (min-width: 800px)
                   and (max-width: 1000px)
{
   .ralphy {
      width: 250px;
      height: 186px;
      background: url(ralphy.gif) -250px -186px;
   }
}



@media only screen and (min-width: 1000px)
                   and (max-width: 1200px)
{
   .ralphy {
      width: 250px;
      height: 186px;
      background: url(ralphy.gif) 0px -186px;
   }
}

@media only screen and (min-width: 1200px)
                and (max-width: 1400px)
{
   .ralphy {
      width: 250px;
      height: 186px;
      background: url(ralphy.gif) -250px 0px;
   }
}

@media only screen and (min-width: 1400px)
{
   .ralphy {  
      width: 250px;
      height: 186px;
      background: url(ralphy.gif) 0 0px;

   }
}