h1 {
        font-family: "Source Sans Pro";
        font-weight: normal;
}

h2{
        font-family: "Source Sans Pro";
        font-weight: 100;
}

h3 {
        font-family: "Source Sans Pro";
        font-weight: 100;
        font-size: 16px
}

#title {
        font-weight: bold;
        font-family: "Source Sans Pro";
        font-size: 50px;
}

img {
        width: 60%;
        height: auto;
        margin-left: 5%;
}
