<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8" />
        <title>Audiowned -Login</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
       <script src="/static/js/bootstrap.min.js"></script>

</head>
<body>
        <header>
		    <h1>AUDIOWNED</h1>
        </header>
        <nav>
            <!-- <div>
                <form id="login" action="/login" method="post">
                    <label for="username">Username</label><br />
                    <input name="username" type="text"><br />
                    <input type="submit" class="button" value="Log in" />
                </form>
            </div> -->
            <div>
                <!-- <label for="username">Create/Enter Your Username</label><br /> -->
                <!-- <input id="id" type="text"><br /> -->
                <!-- <button type="button" class="button" onclick="redirect();">LOG IN TO SPOTIFY</button> -->
                <a href="/login" type="button" class="button">LOG IN TO SPOTIFY</a>
            </div>
        </nav>

</body>
</html>
