<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8" />
        <title>Audiowned -Matched</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/animations.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/style.css" type="text/css" />

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
       <script src="/static/js/bootstrap.min.js"></script>

       <script>
       setTimeout(function(){
        //        console.log("game");
                $('body').addClass('animated slideOutRight');
                 setTimeout(function(){
                         window.location.href='/game';
                 }, 800);
        //        window.location.href='/game';
       }, 3000);
       </script>
</head>

<body>


        <header>
        <!-- <h1 id="loadheader">HI <%=Name%>!</h1> -->
		<h1 id="loadheader">YOU'VE BEEN MATCHED WITH <%=OppName%>!</h1>
        </header>

        <div id="pics">

                <div id="userimage">

                        <img src="<%=Pic_URL%>" alt="l8k8" width=400px>
                </div>
                <div id="oppimage">

                        <img src="<%=OppPic%>" alt="placeholder" width=400px>
                </div>
        </div>

</body>
</html>
