<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8" />
        <title>Audiowned</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="static/css/animations.css" type="text/css" />
        <link rel="stylesheet" href="static/css/style1.css" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">



        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>


        <!-- Latest compiled JavaScript -->
       <script src="static/js/bootstrap.min.js"></script>

       <script>
       console.log("hello");
                $("#winpage").addClass('animated slideInLeft');

                function viewSongs() {
                    	window.location.href='/songs';
                }

       </script>
</head>

<body>

	<audio autoplay="true">
		<source src="static/bgmusic.mp3" type="audio/mpeg">
		Your browser does not support the audio element.
	</audio>
        <div id="winpage" class="animated slideInLeft">

        <header>
		<h1 id="loadheader">SONGS</h1>
        </header>
					<% SONGS.forEach(function(p){ %>
				  <div id=songs>
					  <%- p %>
				  </div>


				  <% }); %>



        </div>



</body>
</html>
